{% extends "seeit.html" %}
{% block contents %}
<table style="border-spacing: 20px; border: 2px solid black; text-align: middle">
        	<tr >
        		<th>Sl. No</th>
        		<th>Item</th>
        		<th>Date Added</th>
        	</tr>
        	{% for el in elements %}

        	<tr>
        		<td>{{ el.id }}</td>
        		<td><a href="/individual{% url 'sel_id' value={{ el.id }} %}">{{ el.item }} </td>
        		<td>{{ el.added_date }}</td>
        	</tr>

        	{% endfor %}

        	
</table>
{% endblock %}

