<html>
    <head>
        <meta charset="utf-8">
        <title>The Bucket List</title>
    </head>
    <body>
    <div align="center">
        <h1>Welcome to your bucket list...</h1>
        <a href="/View"><button type="button"> See All </button></a>
        <a href="/Search"><button type="button"> Search </button></a>
        <a href="/Add"><button type="button"> Add </button></a>
        <a href="/Edit"><button type="button"> Edit </button></a>
        <a href="/Delete"><button type="button"> Delete </button></a>
    </div>
    </body>
</html>
